<ap-search
    (aoDigitar)="filter = $event" [value]="filter"> <!-- value: foi usado para limpar o campo "seach" -->
</ap-search>

<ap-photos [photos]="photos | filterByDescription: filter"> </ap-photos>

<ap-load-button (click)="load()" [hasMore]="hasMore"></ap-load-button>