<div class="text-center mt-3 mb-3">
    <form>
        <i aria-hidden="true" class="fa fa-search mr-2"></i>
        <input class="rounded" type="search" placeholder="search..." autofocus
            (keyup)="debounce.next($event.target.value)"
            [value]="value" > <!-- foi usado para limpar o campo "seach" -->
    </form>
</div>
    